version: "3.9"

services:
  auth:
    build: ./auth
    container_name: auth
    environment:
      - NODE_ENV=production
      - PORT=3000
      - JWT_SECRET=${JWT_SECRET}
      - POSTGRES_URL=${POSTGRES_URL}
    ports:
      - "3001:3000"
    restart: unless-stopped
    networks: [ipsnet]

  citas:
    build: ./citas
    container_name: citas
    environment:
      - NODE_ENV=production
      - PORT=3000
      - JWT_SECRET=${JWT_SECRET}
      - POSTGRES_URL=${POSTGRES_URL}
    ports:
      - "3002:3000"
    restart: unless-stopped
    networks: [ipsnet]

  notas:
    build: ./notas
    container_name: notas
    environment:
      - NODE_ENV=production
      - PORT=3000
      - JWT_SECRET=${JWT_SECRET}
      - COSMOS_ENDPOINT=${COSMOS_ENDPOINT}
      - COSMOS_KEY=${COSMOS_KEY}
      - COSMOS_DB=${COSMOS_DB}
      - COSMOS_CONTAINER=${COSMOS_CONTAINER}
    ports:
      - "3003:3000"
    restart: unless-stopped
    networks: [ipsnet]

  notif:
    build: ./notif
    container_name: notif
    environment:
      - NODE_ENV=production
      - PORT=3000
    ports:
      - "3004:3000"
    restart: unless-stopped
    networks: [ipsnet]

networks:
  ipsnet:
    driver: bridge
